<div class="relative w-full flex items-center">
  <%= form.text_field :q,
                      class: "pl-4 pr-10 py-2 w-full bg-sky-700 border border-gray-600 rounded-xl text-gray-100 focus:outline-none focus:border-gray-500 focus:bg-gray-700",
                      placeholder: t("default.search_placeholder"),
                      value: params[:q],
                      "aria-label": "Rechercher" %>
  <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-100">
    <i class="fas fa-search" aria-hidden="true"></i>
  </div>
</div>
