<div class="mt-4 p-4 border border-indigo-100 rounded-xl relative">
  <div class="absolute top-0 left-0 mx-4 -translate-y-1/2 bg-white text-gray-400">
    <%= t("tags.filter_by_tag") %>
  </div>

  <% @tags&.each do |tag| %>
    <%= render FilterByTagComponent.new(tag:, param: params[:tags]&.include?(tag.id.to_s)) %>
  <% end %>
</div>
