<div class="flex justify-between items-center">
  <h2 class="mb-4 text-xl font-bold leading-none tracking-tight md:text-4xl lg:text-2xl">
    <%= link_to(@artist.fullname, artist_path(@artist), class: "hover:underline hover:text-sky-800") %>
    >
    <%= Writing.model_name.human(count: 2) %>
  </h2>
  <div>
    <%= render_in_modal(url: new_artist_writing_path(@artist), policy: policy(Writing).new?) do %>
      <%= render CircleIconComponent.new(icon: "fa-solid fa-circle-plus", bg_color: "bg-orange-700") %>
    <% end %>
  </div>
</div>
