<h2 class="mb-4 text-xl font-bold leading-none tracking-tight md:text-4xl lg:text-2xl">
  <%= link_to(@artist.fullname, artist_path(@artist), class: "hover:underline hover:text-indigo-800") %>
  >
  <%= Writing.model_name.human(count: 2) %>
</h2>
