<div class="mb-3">
  <%= form_with(url: search_artist_writings_path(@artist), method: :get, remote: false, class: "search-form") do |form| %>
    <div class="flex flex-col md:flex-row md:space-x-4">
      <div class="relative w-full md:w-1/2 flex items-center">
        <%= form.text_field :q,
          class: "pl-4 pr-10 py-2 w-full bg-indigo-700 border border-gray-600 rounded-xl text-gray-100 focus:outline-none focus:border-gray-500 focus:bg-gray-700",
          placeholder: t("default.search_placeholder"),
          value: params[:q],
          "aria-label": "Rechercher" %>
        <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-100">
          <i class="fas fa-search" aria-hidden="true"></i>
        </div>
      </div>

      <div class="w-full md:w-1/2">
        <%= form.select :year,
              options_for_select(@years, params[:year]),
              { prompt: params[:year].present? ? t("writings.reset_filter_by_date") : t("writings.filter_by_date"), },
              { onchange: "this.form.submit()" ,
                class: 'bg-indigo-700 border border-gray-300 text-gray-100 rounded-xl focus:ring-blue-500 focus:border-gray-500 focus:bg-gray-700 block w-full p-2.5' } %>
      </div>
    </div>
  <% end %>
</div>
