<div class="col-lg-8 mt-3 mx-auto">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Citations</h1>
  </div>

  <div class="collapse border border-secondary rounded-4 mb-3 p-2" id="collapse_new_quote">
    <%= render "form", quote: @quote %>
  </div>

  <% @quotes.each do |quote| %>
    <%= render partial: "quotes/quote_card", locals: { quote: quote } %>
  <% end %>
</div>
