<% current_user.artists.each do |artist| %>
  <div class="flex justify-between items-center mb-4">
    <h1 class="leading-none tracking-tight mb-4">
      <%= link_to(Source.model_name.human(count: 2), sources_path, class: " hover:text-sky-800") %>
    </h1>

    <%= render_in_modal(url: new_artist_source_path(artist), policy: policy(Source).new?) do %>
      <%= render CircleIconComponent.new(icon: "fa-solid fa-circle-plus", bg_color: "bg-orange-700") %>
    <% end %>
  </div>
  <%= render partial: "sources/list", locals: {artist:} %>
<% end %>
