<div class="pb-2 mb-2 border-b-2 flex items-center justify-between">
  <%= render partial: "writings/card/date", locals: { writing: } %>

  <div id="tag_list" class="flex mb-1">
    <%= render partial: 'tags/list', locals: { artist:, writing:} %>
  </div>

  <%= render partial: "writings/card/actions", locals: { artist:, writing: } if user_signed_in? %>
</div>
