<div class="pb-2 mb-2 border-b-2 border-orange-700 flex items-center justify-between">
  <div>
    <%= render partial: "writings/card/date", locals: {writing:} %>
    <%= render partial: "writings/source", locals: {writing:} %>
  </div>
  <%= render partial: "writings/card/actions", locals: {artist:, writing:} if user_signed_in? %>
</div>
