<div class="grid grid-cols-2 md:grid-cols-3">
  <% artist.sources.each do |source| %>
    <span class="hover:text-orange-700 hover:underline">
      <%= link_to(source.name, artist_source_path(source.artist, source), class: "hover:underline hover:text-sky-800") %>
    </span>
  <% end %>
</div>
