<%= render "artists/artist", artist: @artist.decorate %>

<div class="mx-10">
  <%= link_to(artist_writings_path(@artist)) do %>
    <i class="fa-solid fa-circle-chevron-right mr-2 text-orange-700"></i>
    <span class="font-medium text-orange-700 hover:underline">
      <%= Writing.model_name.human(count: 2) %>
    </span>
  <% end %>
  <div class="flex space-x-4">
    <%= render partial: 'writings/card', collection: @artist.random_writings(3), as: :writing, locals: { artist: @artist } %>
  </div>
</div>
