<div class="d-flex justify-content-around mt-3">
  <%= link_to "#form_element_#{mouvement.id}__modal",
    data: { bs_toggle: "modal", bs_target: "#form_element_#{mouvement.id}__modal"}, class: "btn btn-sm link-primary" do %>
    <%= icon('fa-solid', 'plus-circle', class: "me-1") %> Créer un élément
  <% end %>
  <%= link_to "#form_element_#{mouvement.id}__modal",
    data: { bs_toggle: "modal", bs_target: "#form_element_#{mouvement.id}__modal"}, class: "btn btn-sm link-primary" do %>
    <%= icon('fa-solid', 'hand-pointer', class: "me-1") %> Sélectionner un élément existant
  <% end %>
</div>
