<% elements.each do |element| %>
  <%= link_to(element_path(element), class: "text-dark text-decoration-none") do %>
    <div class="card">
      <%= element.title %>
      <% if element.mouvements.any?  %>
        <ul>
          <% element.mouvements.each do |mouvement| %>
            <li><%= mouvement.work.title %> - <%= mouvement.title %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>
