<!-- Modal -->
<div class="modal fade" id="form_work_modal" tabindex="-1" aria-labelledby="form_work_modalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Œuvre</h5>
      </div>
      <div class="modal-body">
        <%= render "form", work: @work %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal">
          <%= t('close') %>
        </button>
        <%= submit_tag(t("save"), class: "btn btn-success mt-2", form: "work_form") %>
      </div>
    </div>
  </div>
</div>
