<h1 class="mb-4 leading-none tracking-tight md:text-4xl lg:text-5xl">
  <%= link_to(administration_annotations_path, class: "hover:underline hover:text-sky-800") do %>
    <%= Annotation.model_name.human(count: 2) %>
  <% end %>
</h1>
