.form-control {
  border-radius: 50px;
  border-color: rgba($color: $primary, $alpha: 0.3);
}

.form-control-text-area {
  border-radius: 20px;
  border-color: rgba($color: $primary, $alpha: 0.3);
}

.input-group-text {
  border-radius: 50px;
}
