<div class="col-lg-8 mt-3 mx-auto">
  <% if @works.nil? && @elements.nil? || @works.count.zero? && @elements.count.zero? %>
    <h1>Aucun résultat pour "<%= params[:q] %>"</h1>
  <% else %>
    <% if @works.any? %>
      <h1>Œuvres</h1>
      <% @works.each do |work| %>
        <%= render partial: "works/work_card", locals: { work: work } %>
      <% end %>
    <% end %>

    <% if @elements.any? %>
      <h1>Éléments</h1>
      <% @elements.each do |element| %>
        <%= render partial: "elements/element_card", locals: { element: element } %>
      <% end %>
    <% end %>
  <% end %>
</div>
