<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: "layouts/include" %>
  </head>

  <body class="bg-white">
    <div class="flex h-screen border-t-4 border-orange-700" data-controller="sidebar">
      <%= render partial: "layouts/sidebar" %>
      <%= render partial: "layouts/main", locals: {width: local_assigns[:width] || ""} %>
    </div>
    <%= turbo_frame_tag "remote_modal" %>
  </body>
</html>
