<footer class="footer mt-auto py-3 bg-light">
  <div class="d-flex justify-content-center">
    © 2023 - Anne-Élise Thouvenin
      <% if current_user %>
        - <%= current_user.firstname %><%= link_to(icon('fa-solid', 'sign-out-alt'), signout_path, class: "link-dark ms-2")  %>
      <% else %>
        <%= link_to(icon('fa-solid', 'sign-in-alt'), new_session_path, class: "link-secondary ms-2")  %>
      <% end %>
  </div>
</footer>
