<div class="absolute bottom-2 py-2" data-controller="drop-up-menu">
  <button class="flex items-center justify-center bg-sky-700 text-white rounded-full hover:bg-sky-600 p-4"
    id="userMenuButton" aria-haspopup="true" aria-controls="userMenu" data-action="click->drop-up-menu#toggleMenu">
    <i class="fas fa-user"></i>
    <% if user_signed_in? %>
      <span class="ml-2 text-sm"><%= current_user.firstname || current_user.email %></span>
    <% end %>
  </button>

  <div class="absolute bottom-16 left-0 w-48 bg-white rounded-xl shadow-lg hidden" id="dropUpMenu" data-drop-up-menu-target="dropUpMenu" role="menu">
    <% if user_signed_in? %>
      <%= link_to(t("users.profile"), user_path(current_user), class: "w-full text-left block px-4 py-2 text-sm text-gray-700 rounded-xl hover:bg-gray-200", role: "menuitem") %>
      <%= button_to(t("authentication.logout"), authentication_session_path(current_user), method: :delete, class: "w-full text-left block px-4 py-2 text-sm text-gray-700 rounded-xl hover:bg-gray-200", role: "menuitem") %>
    <% else %>
      <%#= link_to(t("authentication.sign_up"), new_authentication_registration_path, class: "w-full text-left block px-4 py-2 text-sm text-gray-700 rounded-xl hover:bg-gray-200", role: "menuitem") %>
      <%= link_to(t("authentication.login"), new_authentication_session_path, class: "w-full text-left block px-4 py-2 text-sm text-gray-700 rounded-xl hover:bg-gray-200", role: "menuitem") %>
    <% end %>
  </div>
</div>
