<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: "layouts/include" %>
  </head>

  <body class="bg-white">
    <div class="flex h-screen border-t-4 border-orange-700">
      <%= render partial: "layouts/sidebar" %>
      <%= render partial: "layouts/main" %>
    </div>
    <%= turbo_frame_tag "remote_modal" %>

    <script>
      // Sidebar
      var menuButton = document.getElementById('menuButton');
      var sidebar = document.getElementById('sidebar');
      var hamburgerIcon = document.getElementById('hamburgerIcon');
      var crossIcon = document.getElementById('crossIcon');
      var main = document.getElementById('main');

      menuButton.addEventListener('click', function () {
        if (sidebar.classList.contains('-translate-x-full')) {
          sidebar.classList.remove('-translate-x-full');
          hamburgerIcon.classList.add('hidden');
          crossIcon.classList.remove('hidden');
          main.classList.add('overlay');
        } else {
          sidebar.classList.add('-translate-x-full');
          hamburgerIcon.classList.remove('hidden');
          crossIcon.classList.add('hidden');
          main.classList.remove('overlay');
        }
      });

      crossIcon.addEventListener('click', function () {
        sidebar.classList.add('-translate-x-full');
        hamburgerIcon.classList.remove('hidden');
        crossIcon.classList.add('hidden');
        main.classList.remove('overlay');
      });

      // Drop-up Menu
      document.getElementById('userMenuButton').addEventListener('click', function (event) {
          event.stopPropagation();
          document.getElementById('userMenu').classList.toggle('hidden');
        });

        window.addEventListener('click', function () {
          if (!document.getElementById('userMenu').classList.contains('hidden')) {
            document.getElementById('userMenu').classList.add('hidden');
          }
        });
    </script>
  </body>
</html>
