<!-- Modal -->
<div class="modal fade" id="deleteMouvement_<%= mouvement.id %>_Modal" tabindex="-1" aria-labelledby="deleteMouvement_<%= mouvement.id %>_ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Êtes-vous certain de vouloir supprimer ce mouvement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= button_to("Supprimer",
                      work_mouvement_path(mouvement),
                      data: {bs_dismiss:"modal"},
                      method: :delete,
                      class: "link-light border-0 bg-danger rounded-pill p-2") %>
        </div>
    </div>
  </div>
</div>
